# Maven build directory
target/

# Maven wrapper files
.mvn/
mvnw
mvnw.cmd

# IDE files
.idea/
*.iml
*.ipr
*.iws
*.class

# Eclipse project files
.classpath
.project
.settings/

# IntelliJ project files
out/
*.log
*.jar

# OS specific files
.DS_Store
Thumbs.db
*.swp

# Miscellaneous
*.orig
*.tmp
*.temp
*.bak
*.sublime-workspace
*.sublime-project
